.signup-page {
  width: 40vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.signup-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-page div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-page input {
  width: 90%;
  margin: 5px;
  padding: 5px;
  border: 1px solid black
}

.signup-page .disabled-button {
  background-color: white;
  color: grey;
  box-shadow: 5px 5px 5px grey;
  cursor: not-allowed;
  width: 90%;
}

.signup-page .active-button {
  background-color: #f64061;
  color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  width: 90%;
}

.signup-page button {
  height: 40px;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 10px;
}
