.groupList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

.groupList-header {
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.groupList-header > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupList-links a {
  padding-right: 10px;
  font-size: 30px;
  text-decoration: none;
  color:black
}

.groupList-links a:hover {
  text-decoration: underline;
}

.groupList-links p {
  padding-left: 10px;
  font-size: 30px;
  color: #007a8a;
  text-decoration: underline;
}

.groupList-header > p {
  margin-top: 0;
  color: gray
}

.groupList-item {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}

.groupList-item img {
  width: 25%;
  object-fit: cover;
  object-position: center top;
  margin-right: 10px;
}

.group-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-info h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.group-info p {
  margin-top: 0;
  margin-bottom: 0;
}

.groupList-main a {
  text-decoration: none;
  color: black
}

.groupListItem-events {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupListItem-events i {
  font-size: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
