.groupDetail-main {
  width: 100%;
}

.groupDetail-top {
  width: 90%;
  margin: 0 auto;
}

.groupDetail-bottom {
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}

.groupDetail-body {
  width: 90%;
  margin: 0 auto;
}

.groupDetail-back {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupDetail-back a {
  color: #007a8a
}

.groupDetail-header {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.groupDetail-headerImg {
  width: 50%;
  margin-right: 10px;
}

.groupDetail-headerImg img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.groupDetail-groupText p {
  color: grey
}

.groupDetail-groupInfo {
  width: 50%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.groupDetail-join button {
  width: 50%;
  height: 50px;
  background-color: red;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.groupDetail-upcoming {
  width: 60%;
  background-color: white;
  padding: 10px;
}

.groupDetail-upcoming .eventListItem-body {
  padding-top: 10px;
}

.groupDetail-upcoming a {
  text-decoration: none;
  color: black
}

.groupDetail-past {
  width: 60%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.groupDetail-past a {
  text-decoration: none;
  color: black
}

.groupDetail-events {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupDetail-events i {
  font-size: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: grey
}

.groupDetails-organizer {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.groupDetails-organizer button {
  background-color: grey;
  color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}
