body {
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 100px;
  border-bottom: 2px solid lightgray;
}

main {
  height: calc(100vh - 116px);
  overflow-y: auto;
}

main h1 {
  margin: 0;
}

.errors {
  color: red;
  margin: 0;
}
