.login-page {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-page div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-page input {
  width: 90%;
  margin: 5px;
  padding: 5px;
  border: 1px solid black
}

.disabled-button {
  background-color: white;
  color: grey;
  box-shadow: 5px 5px 5px grey;
  cursor: not-allowed;
  width: 90%;
}

.active-button {
  background-color: #f64061;
  color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  width: 90%;
}

.login-page button {
  height: 40px;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 10px;
}

.demo-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #00515e;
  width: fit-content;
}

.demo-button:hover {
  text-decoration: underline;
}
